In [45]:
import itertools
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from matplotlib.ticker import NullFormatter
import numpy as np
import pandas as pd
from sklearn import preprocessing
%matplotlib inline

In [46]:
df_train = pd.read_csv("train.csv")
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [47]:
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [48]:
df_train['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [49]:
df_train.loc[df_train.Sex == 'male'].query('Survived == 1').nunique()

PassengerId    109
Survived         1
Pclass           3
Name           109
Sex              1
Age             49
SibSp            4
Parch            3
Ticket          98
Fare            64
Cabin           40
Embarked         3
dtype: int64

In [50]:
df_train[(df_train.Sex == 'male') & (df_train.Survived == 1)].nunique()

PassengerId    109
Survived         1
Pclass           3
Name           109
Sex              1
Age             49
SibSp            4
Parch            3
Ticket          98
Fare            64
Cabin           40
Embarked         3
dtype: int64

In [66]:
X = np.asanyarray(df_train[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked']])
X[0:5]

array([[3, 'male', 22.0, 1, 0, 7.25, nan, 'S'],
       [1, 'female', 38.0, 1, 0, 71.2833, 'C85', 'C'],
       [3, 'female', 26.0, 0, 0, 7.925, nan, 'S'],
       [1, 'female', 35.0, 1, 0, 53.1, 'C123', 'S'],
       [3, 'male', 35.0, 0, 0, 8.05, nan, 'S']], dtype=object)

In [67]:
y = np.asanyarray(df_train[["Survived"]])
y[0:5]

array([[0],
       [1],
       [1],
       [1],
       [0]], dtype=int64)

In [68]:
from sklearn.neighbors import KNeighborsClassifier

In [69]:
k = 4

neigh = KNeighborsClassifier(n_neighbors = k).fit(X, y)
neigh

ValueError: could not convert string to float: 'male'

In [65]:
yhat = neigh.predict(X_test)
yhat[0:5]

NameError: name 'neigh' is not defined

In [ ]:
from sklearn import metrics
print("Train set Accuracy: ", metrics.accuracy_score(y_train, neigh.predict(X_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_test, yhat))

In [ ]:
Ks = 10
mean_acc = np.zeros((Ks-1))
std_acc = np.zeros((Ks-1))
ConfustionMx = [];
for n in range(1,Ks):
    
    #Train Model and Predict  
    neigh = KNeighborsClassifier(n_neighbors = n).fit(X_train,y_train)
    yhat=neigh.predict(X_test)
    mean_acc[n-1] = metrics.accuracy_score(y_test, yhat)
    std_acc[n-1]=np.std(yhat==y_test)/np.sqrt(yhat.shape[0])

mean_acc

In [ ]:
plt.plot(range(1,Ks),mean_acc,'g')
plt.fill_between(range(1,Ks),mean_acc - 1 * std_acc,mean_acc + 1 * std_acc, alpha=0.10)
plt.legend(('Accuracy ', '+/- 3xstd'))
plt.ylabel('Accuracy ')
plt.xlabel('Number of Nabors (K)')
plt.tight_layout()
plt.show()

In [ ]:
print( "The best accuracy was with", mean_acc.max(), "with k=", mean_acc.argmax()+1)